# ─── Editor and IDE artifacts ─────────────────────────────────────────────────
.vscode/
.venv/
.idea/
*.swp
*.swo

# Generated during compile stage — recreated by make, never committed
*.o

/development_process

